<!DOCTYPE html>
<html>
  <head>Hangman</head>
  <body>
    <center>
      <h1>Let's Play Hangman!</h1>
      <hr>
      <form action='word' method='post'>
      <!-- adds an input box and calls the input name_input. -->
  		<input type='text' required name='word_input'>
      <!-- adds a button that submits your input and gives it text "Push It" -->
  		<input type='submit' value = 'Hide Word'>
      </form>
    </center>
  </body>
</html>
