<html>
<head>
<title>Hangman</title>
<link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
  <div class="title">Hangman</div>
  
  <div class="instructions">Welcome to Hangman. Try to guess the letters of the secret word. If you make 6 incorrect guesses you lose!</p><br><br></div>
  <div class="game_box">
    
  </div>

</body>

</html>