<html>
<head>
<title>Hangman</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
  <div class="title">Hangman</div>
  
  <div class="instructions">Welcome to Hangman. Try to guess the letters of the secret word. If you make 6 incorrect guesses you lose!</p><br><br></div>
  <div class="game_box">
    <div class="draw_box">
      <img src="scaffolding.png" class="hangman">
      <% if @incorrect_guesses > 0 %>
        <img src="noose.png" class="hangman">
      <% end %>
      <% if @incorrect_guesses > 1 %>
        <img src="head.png" class="hangman">
      <% end %>
      <% if @incorrect_guesses > 2 %>
        <img src="torso.png" class="hangman">
      <% end %>
      <% if @incorrect_guesses > 3 %>
        <img src="hips.png" class="hangman">
      <% end %>
      <% if @incorrect_guesses > 4 %>
        <img src="arms-legs.png" class="hangman">
      <% end %>
      <% if @incorrect_guesses > 5 %>
        <img src="deadman.png" class="hangman">
      <% end %>
    </div>
    <div class="info_box" >
      <div class="info">
        <p><span class="label">Secret Word:  </span><%= @partial_word.split(//).join(" ")%></p>
        <div></div>
        <p><span class="label">Guesses: </span><%= @guessed.sort.join(" ")%></p>
        <div></div>
          <p><span class="label">Incorrect Guesses: </span><%= @incorrect_guesses%></p>
        <div></div>
        <% if !(@lose || @win) %>
          
          <form action='/' method="post"><label>Enter a Guess: </label><input type="text" name="guess" size="1" autofocus="autofocus"/><input type="submit" value="Enter"></form>
        <% end %>
      </div>
    </div>
    <div class="message_box">
      <%= @message %>
      <% if @lose || @win%>
        <form action='/' method="get"><input class="big_button" type="submit" value="Of course!"></form>
      <%end%>
      
    </div>
  </div>

</body>

</html>