

.right_arm{
  position: absolute;
  left:162px;
  top:170px;
}

.right_leg{
  position: absolute;
  left:161px;
  top:265px;
}

.scaffold{
  position:absolute;
  left:160px;
}

.game_box{
  width:1010px;
  margin:auto;
  text-align:center;
}

.message_box{
  font-size: 20px;
}

.info{
  margin-top: 70px;
  text-align:left;
  margin-left:50px;
}

.big_button{
  width:100px;
  height:50px;
  font-size: 15px;
  font-weight: bold;
  margin-top:15px;
}

.label{
  font-weight: bold;
}


body{
  font-family: Arial;
}